In [ ]:
import findspark 
findspark.init()
from pyspark.sql import SparkSession

AGE_MIDPOINT = "age_midpoint"
SALARY_MIDPOINT = "salary_midpoint"
SALARY_MIDPOINT_BUCKET = "salary_midpoint_bucket"

session = SparkSession.builder.appName("StackOverflowSurvey").master("local[1]").getOrCreate()
dataFrameReader = session.read

In [ ]:
filePath = 'e:\\Eskills-Academy-projects\\python-spark-tutorial-master\\in\\'
fileName = "2016-stack-overflow-survey-responses.csv"
file = filePath + fileName
responses = dataFrameReader.option("header", "true").option("inferSchema", value= True).csv(file)
print("===== Print out schema =====")
responses.printSchema()

In [6]:
responseWithSelectedColumns = responses.select("country", "occupation", AGE_MIDPOINT, SALARY_MIDPOINT)
print("=== Print the selected columns of the table ===")
responseWithSelectedColumns.show()

=== Print the selected columns of the table ===
+-----------+--------------------+------------+---------------+
|    country|          occupation|age_midpoint|salary_midpoint|
+-----------+--------------------+------------+---------------+
|Afghanistan|                NULL|        22.0|           NULL|
|Afghanistan|Mobile developer ...|        32.0|        45000.0|
|Afghanistan|                NULL|        NULL|           NULL|
|Afghanistan|              DevOps|        NULL|         5000.0|
|Afghanistan|                NULL|        65.0|           NULL|
|Afghanistan|                NULL|        22.0|           NULL|
|Afghanistan|       Growth hacker|        NULL|       210000.0|
|Afghanistan|Back-end web deve...|        27.0|         5000.0|
|    Albania|                NULL|        27.0|           NULL|
|    Albania|Back-end web deve...|        22.0|         5000.0|
|    Albania|Full-stack web de...|        27.0|         5000.0|
|    Albania|Full-stack web de...|        22.0|        15000.0|
|    Albania|Full-stack web de...|        27.0|         5000.0|
|    Albania|Back-end web deve...|        27.0|         5000.0|
|    Albania|Back-end web deve...|        22.0|        15000.0|
|    Algeria|                NULL|        44.5|           NULL|
|    Algeria|   Desktop developer|        27.0|           NULL|
|    Algeria|             Student|        16.0|           NULL|
|    Algeria|                NULL|        22.0|           NULL|
|    Algeria|   Desktop developer|        27.0|        15000.0|
+-----------+--------------------+------------+---------------+
only showing top 20 rows

In [ ]:
print("=== Print records where the response is from Afghanistan ===")
responseWithSelectedColumns.filter(responseWithSelectedColumns["country"] == "Afghanistan").show()

In [ ]:
print("=== Print the count of occupations ===")
groupedData = responseWithSelectedColumns.groupBy("occupation")
groupedData.count().show()

In [ ]:
print("=== Print records with average mid age less than 20 ===")
responseWithSelectedColumns.filter(responseWithSelectedColumns[AGE_MIDPOINT] < 20).show()

In [ ]:
print("=== Print the result by salary middle point in descending order ===")
responseWithSelectedColumns.orderBy(responseWithSelectedColumns[SALARY_MIDPOINT], ascending=False).show()

In [ ]:
print("=== Group by country and aggregate by average salary middle point ===")
responseWithSelectedColumns.groupBy("country").avg(SALARY_MIDPOINT).show()

In [17]:
responseWithSalaryBucket = responses.withColumn(SALARY_MIDPOINT_BUCKET, ((responses[SALARY_MIDPOINT]/20000).cast("integer")*20000))
print("=== With by salary bucket ===")
responseWithSalaryBucket.select(SALARY_MIDPOINT, SALARY_MIDPOINT_BUCKET).show()

print("=== Group by salary bucket ===")
responseWithSalaryBucket.groupBy(SALARY_MIDPOINT_BUCKET).count().orderBy(SALARY_MIDPOINT_BUCKET).show()


session.stop()

=== With by salary bucket ===
+---------------+----------------------+
|salary_midpoint|salary_midpoint_bucket|
+---------------+----------------------+
|           NULL|                  NULL|
|        45000.0|                 40000|
|           NULL|                  NULL|
|         5000.0|                     0|
|           NULL|                  NULL|
|           NULL|                  NULL|
|       210000.0|                200000|
|         5000.0|                     0|
|           NULL|                  NULL|
|         5000.0|                     0|
|         5000.0|                     0|
|        15000.0|                     0|
|         5000.0|                     0|
|         5000.0|                     0|
|        15000.0|                     0|
|           NULL|                  NULL|
|           NULL|                  NULL|
|           NULL|                  NULL|
|           NULL|                  NULL|
|        15000.0|                     0|
+---------------+----------------------+
only showing top 20 rows

=== Group by salary bucket ===
+----------------------+-----+
|salary_midpoint_bucket|count|
+----------------------+-----+
|                  NULL|  566|
|                     0|  523|
|                 20000|  351|
|                 40000|  260|
|                 60000|  134|
|                 80000|   63|
|                100000|   51|
|                120000|   23|
|                140000|   11|
|                160000|    5|
|                180000|    3|
|                200000|    9|
+----------------------+-----+